{
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "commonjs": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "graphql": true
  },
  "plugins": [
    "react",
    "graphql"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "no-mixed-spaces-and-tabs": 0,
    "react/no-deprecated": "warn"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
