///
/// Banner-text by Luke Taylor
/// original work: https://codepen.io/supah/
/// Ported to React with additional work to add better timing and shapes
///

svg.intro {
    position: absolute;
    @include vendor('transform', 'translate(0%, -40%)');

    .text {
        display: none;
    }
    &.go {
        .text {
            font-family: _font(family);
            text-transform: uppercase;
            display: block;
            letter-spacing: 0;
        }
        .base-stroke {
            fill: none;
            stroke: _palette(accent2);
            stroke-width: 2.8px;
            stroke-dashoffset: 1000;
            stroke-dasharray: 1000;
            stroke-linecap: butt;
            stroke-linejoin: round;
            @include vendor('animation', 'dash 4s ease-in-out forwards');
        }
        .text-stroke {
            stroke: _palette(fg-bold);
            @include vendor('animation-delay', '1.7s');
        }
        .rect-stroke {
            stroke: _palette(fg-bold);
            @include vendor('animation-delay', '2.1s');
        }
    }
}

@keyframes dash {
    100% {
        stroke-dashoffset: 0;
    }
}
