///
/// Luke Taylor | @lmcjt | @lmcjt37(Github)
///

/* Error Page - 404 */

svg{
  width: 100%;
  height: 75%;
}

path{
	-webkit-transition: stroke-dashoffset 2s ease-in-out;
  transition: stroke-dashoffset 2s ease-in-out;
}
